{* ZOZNAM AUT  *}
{block title} Zoznam áut {/block}
{block content}
<div id="left_panel">

    <h2>Ospravedlňujeme sa, ale Vašim požiadavkám nevyhovuje žiadne vozidlo</h2>

</div>

<div id="right_panel">
    {control topCars}
</div>
{/block}