{block title}
Zmena inzerátu
{/block}

{block content}
<div id="left_panel">
    Musíte byť prihlásený a musí to byť váš inzerát!!!
</div>

<div id="right_panel">
    {control topCars}
</div>
{/block}
