{* HOMEPAGE *}
{block content}
<div id="left_panel">
    <div id="id_baseform">
        <div class="top">Moj dlsi nadpis</div>
        {snippet form}
            <fieldset id="teraz">
                {control newSearchForm}
            </fieldset>
        {/snippet}
    </div>
</div>
    
<div id="right_panel">
  {control topCars}
</div>
{/block}





