{* ZOZNAM UŽÍVATEĽOV  *}
{block title} Užívatelia {/block}
{block content}
<div id="left_panel">

    <h2>Stránka je určená iba pre admina</h2>

</div>

<div id="right_panel">
    {control topCars}
</div>
{/block}